<!-- Include the Header -->
<%- include('partials/header') %> 

<div class="advancedWrapper mx-auto" style="margin-top: 4%;">
    <hr class="style-one">
    <h1 class="pageHeader">ADVANCED SEARCH FORM</h1>
    <h5 class="pageHeader">Query cards based on given requirements.</h5>
    <hr class="style-one">
</div>
<div class="advancedWrapper  m-auto" style="justify-content: center;">
    <form action="/search" method="GET" style="width: 100%;">
        <div class="mb-3">
            <label class="advancedLabel" for="name">Card Name</label>
            <input name="name" class="advancedField" id="name" type="text" placeholder='Any part of the card name, e.g. "Dunsparce"'>
        </div>

        <div class="mb-3">
            <label class="advancedLabel" for="set">Set</label>
            <select id="set" name="set" class="advancedField">
                <option value="">All</option>
                <% for(i = 0; i < sets.length; i++) { %> <option value="<%= sets[i].id %>"><%= sets[i].name %></option> <% } %>
            </select>
        </div>

        <div class="mb-3">
            <label class="advancedLabel" for="artist">Artist Name</label>
            <input name="artist" class="advancedField" id="artist" type="text" placeholder='Any part of the artist name, e.g. "Shinji Kanda"'>
        </div>

        <div class="mb-3">
            <label class="advancedLabel" for="supertype">Supertype</label>
            <select id="supertype" class="advancedField" name="supertype">
                <option value="">All</option>
                <% for(i = 0; i < supertypes.length; i++) { %> <option value="<%= supertypes[i] %>"><%= supertypes[i] %></option> <% } %>
            </select>
        </div>

        <div class="mb-3">
            <label class="advancedLabel" for="subtype">Subtype</label>
            <select id="subtype" class="advancedField" name="subtype">
                <option value="">All</option>
                <% for(i = 0; i < subtypes.length; i++) { %> <option value="<%= subtypes[i] %>"><%= subtypes[i] %></option> <% } %>
            </select>
        </div>

        <div class="mb-3">
            <label class="advancedLabel" for="rarity">Rarity</label>
            <select id="rarity" class="advancedField" name="rarity">
                <option value="">All</option>
                <% for(i = 0; i < rarities.length; i++) { %> <option value="<%= rarities[i] %>"><%= rarities[i] %></option> <% } %>
            </select>
        </div>

        <hr class="style-one" style="margin-top: 30px; margin-bottom: 30px;">

        <button type="submit" class="btn btn-success advancedButton">Submit</button>
    </form>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %> 