<!-- Include the Header -->
<%- include('partials/header') %> 

<!-- Check if there is a previous or next card in the set. -->
<!-- Necessary for previous / next cards to display under current card -->
<% var prevCardExists, nextCardExists = false;%>
<% setName = cardInfo.set.name %>

<% if(setName.includes("Trainer Gallery")) {%>
  <% currentTGCardNum = parseInt(cardInfo.number.slice(2)); %>
  <% if(currentTGCardNum - 1 >= 1) prevCardExists = true; %>
  <% if(currentTGCardNum + 1 <= cardInfo.set.total) nextCardExists = true; %>
  <% if(prevCardExists) {var prevCardId = cardInfo.id.split('-')[0] + '-TG' + (parseInt(cardInfo.number.slice(2)) - 1).toString().padStart(2, '0');} %>
  <% if(nextCardExists) {var nextCardId = cardInfo.id.split('-')[0] + '-TG' + (parseInt(cardInfo.number.slice(2)) + 1).toString().padStart(2, '0');} %>
<% } else { %>}
  <% if(parseInt(cardInfo.number) - 1 >= 1) prevCardExists = true; %>
  <% if(parseInt(cardInfo.number) + 1 <= cardInfo.set.total) nextCardExists = true; %>
  <% if(prevCardExists) {var prevCardId = cardInfo.id.split('-')[0] + '-' + (parseInt(cardInfo.number) - 1).toString();} %>
  <% if(nextCardExists) {var nextCardId = cardInfo.id.split('-')[0] + '-' + (parseInt(cardInfo.number) + 1).toString();} %>
<% } %>

<!-- Log details -->
<!-- <% console.log("Prev card exists?: ", prevCardExists, " Next card exists?: ", nextCardExists); %> -->
<!-- <% console.log("Prev card id: ", prevCardId, " Next card id: ", nextCardId); %> -->

<div class="container">
  <div class="cardInfo">
    <table>
      <tbody>
        <!-- Current Card Name -->
        <tr>
          <th colspan="3"><%=cardInfo.name%></th>
        </tr>

        <!-- Current Card Image -->
        <tr>
          <td rowspan="90"><a href=<%= cardInfo.images.large%>><img src=<%= cardInfo.images.small%> alt=<%=cardInfo.name%>></a></td>
        </tr>

        <!-- Current Card Info -->
        <tr>
          <td><b>Set:</b></td>
          <td><a href="/set/<%=cardInfo.set.id%>"><%=cardInfo.set.name%></a></td>
        </tr>
        <tr>
          <td><b>Number:</b></td>
          <td><%=cardInfo.number%>/<%= cardInfo.set.printedTotal %></td>
        </tr>
        <tr>
          <td><b>Card Type:</b></td>
          <td><%=cardInfo.supertype%></td>
        </tr>
        <% if(cardInfo.hp) {%>
        <tr>
          <td><b>HP:</b></td>
          <td><%=cardInfo.hp%></td>
        </tr>
        <% } %>
        <% if(cardInfo.rarity) {%>
        <tr>
          <td><b>Rarity:</b></td>
          <td><%=cardInfo.rarity%></td>
        </tr>
        <% } %>

        <% if(cardInfo.flavorText) { %>
        <tr>
          <td><b>Flavor Text:</b></td>
          <td><%=cardInfo.flavorText%></td>
        </tr>
        <% } else if(cardInfo.rules){ %>
        <tr>
          <td><b>Rules:</b></td>
          <td><%=cardInfo.rules.join(' ')%></td>
        </tr>
        <% } %>
        <tr>
          <td><b>Artist:</b></td>
          <td><%=cardInfo.artist%></td>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody>
        <!-- Previous / Next Text (If they exist) -->
        <tr>
          <% if(prevCardExists) { %>
            <th style="text-align: center;">Previous</th>
          <% } %>
          <% if(nextCardExists) { %>
            <th style="text-align: center;">Next</th>
          <% } %>
        </tr>
        <!-- Previous / Next Images (If they exist) -->
        <tr>
          <% if(prevCardExists) { %>
          <td>
            <div style="text-align: center;">
              <a href="/card/<%=prevCardId%>"><img src="https://images.pokemontcg.io/<%= prevCardId.split('-')[0] %>/<%= prevCardId.split('-')[1] %>.png"></a>
              <p><%= prevCardId.split('-')[1] %>/<%= cardInfo.set.printedTotal %></p>
            </div>
          </td>
          <% } %>
          <% if(nextCardExists) { %>
          <td>
            <div style="text-align: center;">
              <a href="/card/<%=nextCardId%>"><img src="https://images.pokemontcg.io/<%= nextCardId.split('-')[0] %>/<%= nextCardId.split('-')[1] %>.png"></a>
              <p><%= nextCardId.split('-')[1] %>/<%= cardInfo.set.printedTotal %></p>
            </div>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %> 