<!-- Include the Header -->
<%- include('partials/header') %> 

<% console.log(setNumMap) %>

<!-- Get current set id, card id, the list of card ids for this set, and the current card index-->
<% const currentSetId = cardInfo.set.id %>
<% const currentCardId = cardInfo.id %>
<% const cardList = setNumMap[currentSetId] %>
<% let currentCardIndex = cardList.indexOf(currentCardId) %>
<% const numCardsInSet = cardList.length %>
<% const setName = cardInfo.set.name %>

<% console.log(cardList, currentCardIndex) %>

<!-- Determine if next/prev cards exist, and if so, get their card ids. -->
<% var prevCardExists, nextCardExists = false;%>
<% var prevCardId, nextCardId%>
<% var prevCardDataId, nextCardDataId, prevCardImageId, nextCardImageId%>

<% if(setName.includes("Classic Collection")) {%>
  <% currentCardIndex = classicCollectionDataArray.indexOf(currentCardId.split('-')[1]) %>
  <% if(currentCardIndex > 0) { prevCardExists = true; prevCardImageId = classicCollectionImageArray[currentCardIndex - 1]; prevCardDataId = classicCollectionDataArray[currentCardIndex - 1];}%>
  <% if(currentCardIndex + 1 < numCardsInSet) { nextCardExists = true; nextCardImageId = classicCollectionImageArray[currentCardIndex + 1]; nextCardDataId = classicCollectionDataArray[currentCardIndex + 1];}%>
<% } else { %>
  <% if(currentCardIndex > 0) { prevCardExists = true; prevCardId = setNumMap[currentSetId][currentCardIndex - 1];} %>
  <% if(currentCardIndex + 1 < numCardsInSet) { nextCardExists = true; nextCardId = setNumMap[currentSetId][currentCardIndex + 1];} %>
<% } %>

<% console.log(currentCardIndex, numCardsInSet) %>
<% console.log(nextCardExists) %>

<div class="container">
  <div class="cardInfo seriesName">
    <table>
      <tbody>
        <!-- Current Card Name -->
        <tr>
          <th class="seriesName" colspan="3"><%=cardInfo.name%></th>
        </tr>

        <!-- Current Card Image -->
        <tr>
          <td style="text-align: center; width: 290px;" rowspan="90"><a href=<%= cardInfo.images.large%>><img width="250"  src=<%= cardInfo.images.small%> alt=<%=cardInfo.name%>></a></td>
        </tr>

        <!-- Current Card Info -->
        <tr>
          <td><b>Set:</b></td>
          <td><a class="blueLinks" href="/set/<%=cardInfo.set.id%>"><%=cardInfo.set.name%></a></td>
        </tr>
        <tr>
          <td><b>Number:</b></td>
          <td><%=cardInfo.number%>/<%= cardInfo.set.printedTotal %></td>
        </tr>
        <tr>
          <td><b>Card Type:</b></td>
          <td><%=cardInfo.supertype%></td>
        </tr>
        <% if(cardInfo.hp) {%>
        <tr>
          <td><b>HP:</b></td>
          <td><%=cardInfo.hp%></td>
        </tr>
        <% } %>
        <% if(cardInfo.rarity) {%>
        <tr>
          <td><b>Rarity:</b></td>
          <td><%=cardInfo.rarity%></td>
        </tr>
        <% } %>

        <% if(cardInfo.flavorText) { %>
        <tr>
          <td><b>Flavor Text:</b></td>
          <td><%=cardInfo.flavorText%></td>
        </tr>
        <% } else if(cardInfo.rules){ %>
        <tr>
          <td><b>Rules:</b></td>
          <td><%=cardInfo.rules.join(' ')%></td>
        </tr>
        <% } %>
        <tr>
          <td><b>Artist:</b></td>
          <td><%=cardInfo.artist%></td>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody>
        <!-- Previous / Next Text (If they exist) -->
        <tr>
          <% if(prevCardExists) { %>
            <th class="seriesName" style="text-align: center;">Previous</th>
          <% } %>
          <% if(nextCardExists) { %>
            <th class="seriesName" style="text-align: center;">Next</th>
          <% } %>
        </tr>
        <!-- Previous / Next Images (If they exist) -->
        <tr>
          <% if(prevCardExists) { %>
          <td>
            <div style="text-align: center;" class="mt-3">
              <% if(setName.includes("Classic Collection")) {%>              
                <a href="/card/cel25c-<%=prevCardDataId%>"><img width="250" src="https://images.pokemontcg.io/cel25c/<%= prevCardImageId %>.png"></a>
                <p><%= prevCardDataId %>/<%= cardInfo.set.printedTotal %></p>
              <% } else { %>
                <a href="/card/<%=prevCardId%>"><img width="250" src="https://images.pokemontcg.io/<%= prevCardId.split('-')[0] %>/<%= prevCardId.split('-')[1] %>.png"></a>
                <p><%= prevCardId.split('-')[1] %>/<%= cardInfo.set.printedTotal %></p>
              <% } %>
            </div>
          </td>
          <% } %>
          <% if(nextCardExists) { %>
          <td>
            <div style="text-align: center;" class="mt-3">
              <% if(setName.includes("Classic Collection")) {%>
                <a href="/card/cel25c-<%=nextCardDataId%>"><img width="250" src="https://images.pokemontcg.io/cel25c/<%= nextCardImageId %>.png"></a>
                <p><%= nextCardDataId %>/<%= cardInfo.set.printedTotal %></p>
              <% } else { %>
                <a href="/card/<%=nextCardId%>"><img width="250" src="https://images.pokemontcg.io/<%= nextCardId.split('-')[0] %>/<%= nextCardId.split('-')[1] %>.png"></a>
                <p><%= nextCardId.split('-')[1] %>/<%= cardInfo.set.printedTotal %></p>
              <% } %> 
            </div>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %> 