<!-- Include the Header -->
<%- include('partials/header') %> 

<% console.log(cardInfo) %>

<!-- Get current set id, card id, the list of card ids for this set, and the current card index-->
<% const currentSetId = cardInfo.set.id %>
<% const currentCardId = cardInfo.id %>
<% const cardList = setNumMap[currentSetId] %>
<% let currentCardIndex = cardList.indexOf(currentCardId) %>
<% const numCardsInSet = cardList.length %>
<% const setName = cardInfo.set.name %>


<!-- Determine if next/prev cards exist, and if so, get their card ids. -->
<% var prevCardExists, nextCardExists = false;%>
<% var prevCardId, nextCardId%>
<% var prevCardDataId, nextCardDataId, prevCardImageId, nextCardImageId%>

<% if(setName.includes("Classic Collection")) {%>
  <% currentCardIndex = classicCollectionDataArray.indexOf(currentCardId.split('-')[1]) %>
  <% if(currentCardIndex > 0) { prevCardExists = true; prevCardImageId = classicCollectionImageArray[currentCardIndex - 1]; prevCardDataId = classicCollectionDataArray[currentCardIndex - 1];}%>
  <% if(currentCardIndex + 1 < numCardsInSet) { nextCardExists = true; nextCardImageId = classicCollectionImageArray[currentCardIndex + 1]; nextCardDataId = classicCollectionDataArray[currentCardIndex + 1];}%>
<% } else { %>
  <% if(currentCardIndex > 0) { prevCardExists = true; prevCardId = setNumMap[currentSetId][currentCardIndex - 1];} %>
  <% if(currentCardIndex + 1 < numCardsInSet) { nextCardExists = true; nextCardId = setNumMap[currentSetId][currentCardIndex + 1];} %>
<% } %>


<div class="container">
  <div class="cardInfo seriesName">
    <table>
      <tbody>
        <!-- Current Card Name -->
        <tr>
          <th class="seriesName" colspan="3"><%=cardInfo.name%></th>
        </tr>

        <!-- Current Card Image -->
        <tr>
          <td style="text-align: center; width: 290px;" rowspan="90">
            <a href=<%= cardInfo.images.large%>>
              <div class="zoomableImgDiv">
                <img class="zoomableImg" width="250"  src=<%= cardInfo.images.small%> alt=<%=cardInfo.name%>>
              </div>
            </a>
          </td>
        </tr>

        <!-- Current Card Info -->
        <tr>
          <td><b>Set:</b></td>
          <td><a class="blueLinks" href="/set/<%=cardInfo.set.id%>"><%=cardInfo.set.name%></a></td>
        </tr>
        <tr>
          <td><b>Number:</b></td>
          <td><%=cardInfo.number%>/<%= cardInfo.set.printedTotal %></td>
        </tr>
        <tr>
          <td><b>Card Type:</b></td>
          <td><%=cardInfo.supertype%></td>
        </tr>
        <% if(cardInfo.hp) {%>
        <tr>
          <td><b>HP:</b></td>
          <td><%=cardInfo.hp%></td>
        </tr>
        <% } %>
        <% if(cardInfo.rarity) {%>
        <tr>
          <td><b>Rarity:</b></td>
          <td><%=cardInfo.rarity%></td>
        </tr>
        <% } %>

        <% if(cardInfo.flavorText) { %>
        <tr>
          <td><b>Flavor Text:</b></td>
          <td><%=cardInfo.flavorText%></td>
        </tr>
        <% } else if(cardInfo.rules){ %>
        <tr>
          <td><b>Rules:</b></td>
          <td><%=cardInfo.rules.join(' ')%></td>
        </tr>
        <% } %>
        <tr>
          <td><b>Artist:</b></td>
          <td><%=cardInfo.artist%></td>
        </tr>
      </tbody>
    </table>

    <table>
      <tbody>
        <tr>
          <% if(cardInfo.tcgplayer) { if(cardInfo.tcgplayer.prices) {%>
          <th class="seriesName" style="text-align: left;" colspan="4">
            Price Tracking by <i><a class="blueLinks" target="_blank" href="<%= cardInfo.tcgplayer.url %>">TCG Player</a></i>
          </th>
        </tr>
        <tr>
          <td style="width: 25%;">
            <% if(cardInfo.tcgplayer.prices.normal) { %>

              <b>Low: </b>
              <% if(cardInfo.tcgplayer.prices.normal.low) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.normal.low.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>
            </td>
            <td style="width: 25%;">
              <b>Mid: </b>
              <% if(cardInfo.tcgplayer.prices.normal.mid) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.normal.mid.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>
            </td>
            <td style="width: 25%;">
              <b>High: </b>
              <% if(cardInfo.tcgplayer.prices.normal.high) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.normal.high.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>
            </td>
            <td style="width: 25%;">
              <b>Market: </b>
              <% if(cardInfo.tcgplayer.prices.normal.market) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.normal.low.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>

            <% } else if (cardInfo.tcgplayer.prices.reverseHolofoil) { %>

              <b>Low: </b>
              <% if(cardInfo.tcgplayer.prices.reverseHolofoil.low) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.reverseHolofoil.low.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>
            </td>
            <td style="width: 25%;">
              <b>Mid: </b>
              <% if(cardInfo.tcgplayer.prices.reverseHolofoil.mid) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.reverseHolofoil.mid.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>
            </td>
            <td style="width: 25%;">
              <b>High: </b>
              <% if(cardInfo.tcgplayer.prices.reverseHolofoil.high) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.reverseHolofoil.high.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>
            </td>
            <td style="width: 25%;">
              <b>Market: </b>
              <% if(cardInfo.tcgplayer.prices.reverseHolofoil.market) {%>
                <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.reverseHolofoil.low.toFixed(2) %></span>
              <% } else { %>
                <span style="float: right; margin-right: 10px;">N/A</span>
              <% } %>

              <% } else if (cardInfo.tcgplayer.prices.holofoil) { %>

                <b>Low: </b>
                <% if(cardInfo.tcgplayer.prices.holofoil.low) {%>
                  <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.holofoil.low.toFixed(2) %></span>
                <% } else { %>
                  <span style="float: right; margin-right: 10px;">N/A</span>
                <% } %>
              </td>
              <td style="width: 25%;">
                <b>Mid: </b>
                <% if(cardInfo.tcgplayer.prices.holofoil.mid) {%>
                  <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.holofoil.mid.toFixed(2) %></span>
                <% } else { %>
                  <span style="float: right; margin-right: 10px;">N/A</span>
                <% } %>
              </td>
              <td style="width: 25%;">
                <b>High: </b>
                <% if(cardInfo.tcgplayer.prices.holofoil.high) {%>
                  <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.holofoil.high.toFixed(2) %></span>
                <% } else { %>
                  <span style="float: right; margin-right: 10px;">N/A</span>
                <% } %>
              </td>
              <td style="width: 25%;">
                <b>Market: </b>
                <% if(cardInfo.tcgplayer.prices.holofoil.market) {%>
                  <span style="float: right; margin-right: 10px;">$<%= cardInfo.tcgplayer.prices.holofoil.low.toFixed(2) %></span>
                <% } else { %>
                  <span style="float: right; margin-right: 10px;">N/A</span>
                <% } %>
              <% } %>
          </td>
        </tr>
          <% } else { %>
            <th class="seriesName" style="text-align: left;" colspan="4">
              Price tracking unavailable for this card :(
            </th>
          </tr>
          <% }} else {%>
            <th class="seriesName" style="text-align: left;" colspan="4">
              Price tracking unavailable for this card :(
            </th>
          </tr>
          <% } %>
        
        
      </tbody>
    </table>

    <table>
      <tbody>
        <!-- Previous / Next Text (If they exist) -->
        <tr>
          <% if(prevCardExists) { %>
            <th class="seriesName" style="text-align: center;">Previous</th>
          <% } %>
          <% if(nextCardExists) { %>
            <th class="seriesName" style="text-align: center;">Next</th>
          <% } %>
        </tr>
        <!-- Previous / Next Images (If they exist) -->
        <tr>
          <% if(prevCardExists) { %>
          <td>
            <div style="text-align: center;" class="mt-3">
              <% if(setName.includes("Classic Collection")) {%>              
                <a href="/card/cel25c-<%=prevCardDataId%>">
                  <div class="zoomableImgDiv">
                    <img class="zoomableImg" width="250" src="https://images.pokemontcg.io/cel25c/<%= prevCardImageId %>.png">
                  </div>
                </a>
                <p><%= prevCardDataId %>/<%= cardInfo.set.printedTotal %></p>
              <% } else { %>
                <a href="/card/<%=prevCardId%>">
                  <div class="zoomableImgDiv">
                    <img class="zoomableImg" width="250" src="https://images.pokemontcg.io/<%= prevCardId.split('-')[0] %>/<%= prevCardId.split('-')[1] %>.png">
                  </div>
                </a>
                <p><%= prevCardId.split('-')[1] %>/<%= cardInfo.set.printedTotal %></p>
              <% } %>
            </div>
          </td>
          <% } %>
          <% if(nextCardExists) { %>
          <td>
            <div style="text-align: center;" class="mt-3">
              <% if(setName.includes("Classic Collection")) {%>
                <a href="/card/cel25c-<%=nextCardDataId%>">
                  <div class="zoomableImgDiv">
                    <img class="zoomableImg" width="250" src="https://images.pokemontcg.io/cel25c/<%= nextCardImageId %>.png">
                  </div>
                </a>
                <p><%= nextCardDataId %>/<%= cardInfo.set.printedTotal %></p>
              <% } else { %>
                <a href="/card/<%=nextCardId%>">
                  <div class="zoomableImgDiv">
                    <img class="zoomableImg" width="250" src="https://images.pokemontcg.io/<%= nextCardId.split('-')[0] %>/<%= nextCardId.split('-')[1] %>.png">
                  </div>
                </a>
                <p><%= nextCardId.split('-')[1] %>/<%= cardInfo.set.printedTotal %></p>
              <% } %> 
            </div>
          </td>
          <% } %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Include the footer -->
<%- include('partials/footer') %> 