<!-- Include the Header -->
<%- include('partials/header') %> 

<div class="container">
    <div class="allSets">

        <!-- HEADER -->
        <div class="mx-auto mb-5" style="width: 100%;">
            <hr class="style-one">
            <h1 class="pageHeader">ALL SETS</h1>
            <h5 class="pageHeader">Browse cards by set.</h5>
            <hr class="style-one">
        </div>
        

        <table>
            <tbody>
                <% let setCount = 0; %>
                <% for (let key in setMap) { %>

                    <% setCount = 0;%>

                    <!-- Series name (i.e. Base, Gym, Neo...) -->
                    <tr>   
                        <th class="seriesName" colspan="4"><%= key %></th>   
                    </tr>

                    <!-- Individual sets. Up to 4 sets per row. -->
                    <% let count = 0; %>
                    <% setMap[key].forEach(function(value) { %>

                        <% const setId = idMap[key][setCount]; %>

                        <% if (count === 0) { %>
                            <tr>
                        <% } %>
                                         
                        <td class="setName" ><a href="/set/<%= setId.id %>"><img src="https://images.pokemontcg.io/<%= setId.id %>/symbol.png" width="auto" height="35"><span><%= value.name %></span></a></td>

                        <% count++; %>
                        <% setCount++;%>

                        <% if (count === 4) { %>
                            </tr>
                            <% count = 0; %>
                        <% } %>

                    <% }); %>

                    <% if (count !== 0) { %>
                        </tr>
                    <% } %>

                    <!-- Add a small gap between sets -->
                    <tr class="set-gap">
                        <td colspan="4"></td>
                    </tr>

                <% } %>
            </tbody>
        </table>
    </div>
</div>

<%- include('partials/footer') %> 