<!-- Include Header -->
<%- include('partials/header') %> 

<!-- Create setName variable for conciseness -->
<% setName = setInfo.name %>

<div class="container">
    <div class="setInfo">
        <table>
            <tbody>
                <!-- Header Symbol and Title -->
                <tr>
                    <th style="font-size: 1.5em; line-height: 1.5em;" colspan="4">
                        <img src="<%= setInfo.images.symbol %>" alt="<%= setName %>" width="30" height="30">
                        <%= setName %>
                    </th>
                </tr>
                <!-- Header Logo -->
                <tr>
                    <td rowspan="90" style="width: 30%;">
                        <img src="<%= setInfo.images.logo %>" alt="<%= setName %>" width="700" height="250">
                    </td>
                </tr>
                <!-- Header Info -->
                <tr>
                    <td valign="top">
                        <span>
                            <b>Series: </b> <%= setInfo.series %>
                            <br>
                            <b>Total Cards: </b> <%= setInfo.total %>
                            <br>
                            <% if(setInfo.ptcgoCode){%>
                            <b>PTCGO Set Code: </b> <%= setInfo.ptcgoCode %>
                            <br>
                            <% } %>
                            <b>Release Date: </b> <%= setInfo.releaseDate %>
                            <br>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <% for(i = 0; i < searchResults.length; i++) { %>
            <a href="/card/<%= searchResults[i].id %>">
                <img src="<%= searchResults[i].images.small %>" alt="" style="padding: 5px" width="248" height="350">
            </a>
        <% } %>
    </div>
</div>

<!-- Include Footer -->
<%- include('partials/footer') %> 